In [26]:
import pandas as pd 
import numpy as np
df = pd.DataFrame()

In [27]:
# We set our three arguments
mean = [0,1,2]
scale = [1,2,3]
max_val = [2,3,4]
min_val = [-2,-1,0]
for n in range(3):
    df[n] =  np.random.normal(loc=mean[n],scale=scale[n], size=100)
    df.loc[df[n] < min_val[n],n]= min_val[n]
    df.loc[df[n] > max_val[n],n]= max_val[n]
# print('The Dataframes mean is: ',df.mean().mean())

df.columns = ['Column1', 'Column2', 'Column3']
df['Categorical1 '] = pd.cut(df['Column1'], bins=[0, 1, 5, float('Inf')], labels=['xxx', 'yyy', 'zzz'])
df['Categorical2'] = pd.cut(df['Column2'], bins=[-5, 1, 5, float('Inf')], labels=['xxx', 'yyy', 'zzz'])
df.head()

    Column1   Column2   Column3 Categorical1  Categorical2
0 -1.241701  3.000000  4.000000           NaN          yyy
1  0.498837  1.100769  0.000000           xxx          yyy
2 -1.541030 -1.000000  4.000000           NaN          xxx
3  0.482834  0.610403  2.376275           xxx          xxx
4 -0.257169  1.967003  4.000000           NaN          yyy

In [28]:
df['Categorical1'].isnull().sum()

KeyError: 'Categorical1'

In [35]:
df.to_csv("dta/sample_data.csv", index=False)

In [36]:
df.columns.count()

AttributeError: 'Index' object has no attribute 'count'

In [3]:
import pandas as pd

rdf = pd.read_csv("C:/Users/PC/Downloads/archive/leading_retailers_2021.csv", encoding="ISO-8859-1")

In [4]:
rdf.head()

,Rank,Name of Company,Location,FY2021_retail_revenue,FY2021_parent_company/ group revenue,Dominant_operational_format,Geographies_of_operation,FY2016- 2021_retail_revenueCAGR3,FY2020-2021_retail_revenue_growth,FY2021_Net_profit_margin
0,1,Walmart Inc,United States,"5,72,754","5,72,754",Hypermarket/ supercenter,24,3.30%,2.40%,2.40%
1,2,"Amazon.com, Inc.",United States,"2,39,150","4,69,822",Non-store,21,20.40%,12.00%,7.10%
2,3,Costco Wholesale Corporation,United States,"1,95,929","1,95,929",Cash & carry/ warehouse club,12,10.50%,17.50%,2.60%
3,4,Schwarz Group,Germany,"1,53,754","1,56,209",Discount store,33,7.80%,5.50%,NaN
4,5,"The Home Depot, Inc",United States,"1,51,157","1,51,157",Home improvement,3,9.80%,14.40%,10.90%